<div class="ui container">
  <h1>Deine Bestellung wurde erfolgreich abgeschlossen</h1>

  <h2>Bestelldaten</h2>

  <h3>Bestellungs Nr. {{order.id}}</h3>
  <div class="books">
    <span *ngFor="let books of order.books; last as l">
      Title: {{books.title}}
      <span *ngIf="!l">, <br></span>
    </span>
  </div>
  <br>
  <div *ngIf="order">
    <p>{{order.order_date}}</p>
    <p>Gesamtpreis: {{order.total_price}},00 €</p>
    <div>
    </div>
  </div>
  <bs-user-info></bs-user-info>

  <button class="ui positive button right floated"
          [routerLink]="'/history'">
    vorherige Bestellungen
  </button>

</div>
