<div class="ui container">
  <div class="user">UserID: {{order.user_id}}</div>
  <div class="date">Bestellungsdatum: {{order.order_date}}</div>
  <div class="books">
    <span *ngFor="let books of order.books; last as l">
      Title: {{books.title}}
      <span *ngIf="!l">, <br></span>
    </span>
  </div>
  <div class="states">
    <span *ngFor="let states of order.states; last as l">
      <br>
      Status: {{states.state}}, <br>
      Kommentare: {{states.comment}}
      <span *ngIf="!l">, <br><br></span>
    </span>
  </div>

</div>
